*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    width: 300px;
    text-align: center;
    border: 5px solid black;
    border-radius: 50px;
    padding: 10px 0;
}

.time{
    font-size: 30px;
}

.time-controller > button{
    margin: 10px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}

.start-btn{
    background-color: rgb(36, 219, 36);
    color: #fff;
}

.stop-btn{
    background-color: rgb(240, 84, 84);
    color: #fff;
}

.reset-btn {
    background-color: rgb(4, 192, 255);
    color: #fff;
}

.alarm-wrapper{
    border: 1px solid black;
    border-radius: 50px;
    background-size: cover;
    background-color: rgb(12, 158, 255);
    
}

.alarm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 400px; */
    padding: 30px;
    border-radius: 80px;
    margin: 0 20px;
    
}

.alarm > h1{
    color: #56ff47;
}

.alarm-control{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.alarm-control > input{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(14, 102, 255);
}

.alarm-control > input::-webkit-outer-spin-button,
.alarm-control > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.set-alarm{
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    background-color:rgba(43, 255, 230, 0.882);
    color: rgb(18, 110, 239);
}


.cards{
    /* border: 1px solid black; */
    /* width: 400px; */
    height: 200px;
    margin: auto;
    border-radius: 20px;
    overflow: auto;
}

.card{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    height: 60px;
    border-bottom: 2px solid rgb(27, 27, 199);
    margin: auto;
    color: rgb(86, 255, 71);
}

.card > .btns{
    display: flex;
    gap: 20px;
}

.card > .btns > svg:first-child{
    height: 30px;
}

.card > .btns > button{
    height: 20px;
    border: none;
    background-color: rgb(12, 158, 255);
    animation-timing-function: linear(10s);
}

.card  > .btns  > button > svg{
    font-size: 20px;
    color: rgb(86, 255, 71);
}

.card:first-child{
    border-radius: 20px 20px 0 0;
}


.card:last-child{
    border-radius: 0px 0px 20px 20px;
   border: none;
}

@media only screen and (max-width: 768px) {
   .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
   }

   .timer{
    height: 200px;
   }

   .box{
    width: 100%;
   }

   .time{   
    font-size: 18px;
    width: 200px;
   }

   .time-controller{
    width: 200px;
   }

   .time-controller > button{
      width: 25%;
      margin: 5px;
      text-align: center;
      padding: 10px;
   }

   .alarm-wrapper{
    display: flex;
    padding: 20px;
   }

   .alarm{
    margin: 0;
   }

   .alarm > h1{
    font-size: 19px;
   }

   .alarm-control > input{
    width: 30px;
    height: 30px;
    font-size: 13px;
   }

   .set-alarm{
    width: 60px;
    height: 20px;
    font-size: 10px;
    padding: 0;
   }

   .cards{
    height: 200px;
    margin: auto;
    border-radius: 20px;
    overflow: auto;
}

.card{
    padding: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    align-items: center;
}
}